@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Circular';
    font-weight: 400;
    src: url('/fonts/CircularBook.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-weight: 500;
    src: url('/fonts/CircularMedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-weight: 700;
    src: url('/fonts/CircularBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Circular';
    font-weight: 900;
    src: url('/fonts/CircularBlack.woff2') format('woff2');
}

@layer utilities {
    .flex-center {
        @apply justify-center items-center;
    }
}
